@import "@fontsource/vazir";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Vazir", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
